@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    margin: 0;
}
body{
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top:50px;
}

.search-bar-global-container{
    margin-top: 200px;
    margin-bottom: 100px;
}
.search-bar-global-container h1{
    font-weight: bold;
    color: #d9003e;
}

.search-bar-global-container p{
    color: #777;
}

.title-container{
    padding: 0 25%;
}

.search-bar-container{
    margin-top: 50px;
    padding: 0 10% !important;
}

.search-bar-row{
    border: 1px solid #aaa;
    margin: 0 40%;
    border-radius: 2px;
    padding-left: 5px;
}


#search-bar{
    text-align: left;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    margin: 0;
    border: none;
}

.search-bar-submit{
    width: 100%;
    height: 100%;
    padding: 17px;
    margin:0;
    border: none;
    border-radius: 2px;
    color: white;
    background: #d9003e;
    font-size: 17px;
}
.columns{
    padding: 0 !important;
}
.result-container{
}
.result{
    margin-bottom: 200px;
    width: 100%;
}

.img-container{
    position: relative;
}

.cover{
    position: relative !important;
}

.download-button{
    font-size: 30px !important;
    border-radius: 10px !important;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 50%;
    padding: 15px !important;
}


/* code hover */
.overlay-image {
    margin: 0 auto;
    position: relative;
    width: 30%;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .hover {
    background-color: rgba(0,0,0,0.5);
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height: 40px;
    line-height: 40px;
    background: cyan;
}

/* Loader */

.loader{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

/* LOADER 1 */

#main-loader:before, #main-loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #d9003e;
  }
  
  #main-loader:before{
    z-index: 100;
    animation: spin 1s infinite;
  }
  
  #main-loader:after{
    border: 10px solid #ccc;
  }
  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }