/* custom fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-italic';
    src: url('../fonts/Montserrat-Italic.ttf');
}

*{
    margin: 0;
}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
    margin-bottom: 4em;
    font-family: 'Montserrat',monospace,sans-serif;
}
body::after{
    content:'';
    display:block;
    height:50px;
}

#cover-screen{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1000;
}
.logo-container{
    margin-top:50px;
}

#logo{
    width: 256px;
    height: 100%;
}
.search-bar-global-container{
    margin-top: 120px;
    margin-bottom: 100px;
}
.search-bar-global-container h1{
    font-weight: bold;
    color: #d9003e;
}

.search-bar-global-container p{
    color: #777;
}

.title-container{
    padding: 0 10%;
}

#main-title{
    font-family: 'Montserrat-bold',monospace,sans-serif;
}

#main-para{
    font-family: 'Montserrat',monospace,sans-serif;
    margin-top: 30px;
}

.search-bar-container{
    width: 70% !important;
    margin-top: 50px;
    padding: 0 !important;
}

.search-bar-row{
    border: 1px solid #ddd;
    border-radius: 5px;
}


#search-bar{
    text-align: left;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    margin: 0;
    border: none;
    margin-right: -10px;
    outline: 0;
}

.search-bar-submit{
    width: 100%;
    height: 90%;
    margin:0;
    margin-top: 1.8%;
    margin-left: -3%;
    border: none;
    border-radius: 5px;
    color: white;
    background: #d9003e;
    font-size: 17px;
    z-index: 100;
}

.columns{
    padding: 0 !important;
}

.url-text-container{
    display: none;
    margin-top: -80px;
}

.url-text-container p{
    font-size: 20px;
}

#result-container{
    display: none;
    margin-bottom: 200px;
}

.downloads-container{
    padding: 20px;
}

.downloads-container > p{
    font-weight: bold;
    font-size: 25px;
}
#video-container{
    margin-bottom: 25px !important;
}

.button-class{
    padding: 15px 15%;
    border-radius: 20px;
    font-size: 22px;
    display: block;
    width: 75%;
    margin: 0px auto;
}

#download_listen_container{
    margin-top: 20px;
}

.button-class-secondary{
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.button-class:hover{
    cursor: pointer;
}

.button-class-secondary:hover{
    cursor: pointer;
}


#downloadbutton {
    margin-top: 60%;
    background: #d9003e;
    color: white;
    box-shadow: 2px 4px 4px #00f8f1;
}


#downloadbuttonsecondary{
    background: #d9003e;
    color: white;
    box-shadow: 5px 8px #00f8f1;
}

#listenbutton{
    background: #00f8f1;
    color: #333;
    box-shadow: 2px 4px #d9003e;
}


#downloadbutton:active{
    box-shadow: 0 0 #fff;
    transform: translateX(5px);
    transform: translateY(8px);
}

#downloadbuttonsecondary:active{
    box-shadow: 0 0 #fff;
    transform: translateX(2px);
    transform: translateY(4px);
}

#listenbutton:active{
    box-shadow: 0 0 #fff;
    transform: translateX(2px);
    transform: translateY(4px);
}


#download_form{
    display: none;
}

.col-centered{
    margin: 0 auto !important;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer{ 
    position:absolute; 
    bottom:0; 
    height: 4em;
    width: 100%;
    background: #00f8f1;
    line-height: 4em;
    font-family: 'Montserrat',monospace,sans-serif;
}

/* Loader */

.loader{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    display: none;
}

#main-loader:before, #main-loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #d9003e;
  }
  
  #main-loader:before{
    z-index: 100;
    animation: spin 1s infinite;
  }
  
  #main-loader:after{
    border: 10px solid #ccc;
  }
  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }



  /* Media Queries */
  @media screen and (max-width: 995px) {
    .button-class-secondary{
        padding: 12px 8px;
        border-radius: 5px;
        font-size: 12px;
    }
  }
  @media screen and (max-width: 485px) {
    .title-container{
        padding: 0 !important;
    }
  }

  @media screen and (max-width: 770px) {
    .button-class{
        font-size: 17px;
    }
    .button-class-secondary{
        padding: 12px 8px;
        border-radius: 5px;
        font-size: 12px;
        display: block;
        margin: 10px 5px;
    }
    #tiktok_video{
        width: 90%;
    }
  }

  @media screen and (max-width: 575px) {
    .button-class{
        font-size: 14px;
    }
    .search-bar-row{
        border: none;
    }
    #search-bar{
        margin: 0 !important;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .search-bar-submit{
        margin: 20px 0 !important;
    }

    #tiktok_video{
        text-align: center !important;
    }
    
    #downloadbutton{
        margin: 50px auto;
    }

    #download_listen_container{
        margin: 50px auto;
    }

    #video-container{
        margin : 20px auto;
    }

    footer{
        font-size: 12px;
    }
}


  
